(
    map_size: (28, 18),
    stone_type: Type4,
    dig_limit: Some(0),
    start_chunks: [
        ChunkTemplate(
            id: "stage-13-fixed-v1",
            map: [
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "..........#################.",
                ".....@.....................G",
                "#########S.................G",
                "...........................G",
                "...........................G",
                "###########################E",
            ],
        ),
    ],
    middle_chunks: [ChunkTemplate(id: "mid-none", map: ["IE"])],
    goal_chunks: [ChunkTemplate(id: "goal-noop", map: ["I"])],
)
