(
  resources: {
    "keystone_cc_app::ResourceA": (
      score: 1,
    ),
  },
  entities: {
    4294967296: (
      components: {
        "bevy_ecs::name::Name": "joe",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "keystone_cc_app::ComponentA": (
          x: 1.0,
          y: 2.0,
        ),
        "keystone_cc_app::ComponentB": (
          value: "hello",
        ),
      },
    ),
    4294967297: (
      components: {
        "keystone_cc_app::ComponentA": (
          x: 3.0,
          y: 4.0,
        ),
      },
    ),
  },
)
