[
  (title: "TUTORIAL-1", unlocked: Some(true)),
  (title: "TUTORIAL-2", unlocked: Some(true)),
  (title: "TUTORIAL-3", unlocked: Some(true)),
  (title: "STAGE-1"),
  (title: "STAGE-2"),
  (title: "STAGE-3"),
  (title: "STAGE-4"),
  (title: "STAGE-5"),
  (title: "STAGE-6"),
  (title: "STAGE-7"),
  (title: "STAGE-8"),
  (title: "STAGE-9"),
  (title: "STAGE-10"),
  (title: "STAGE-11"),
  (title: "STAGE-12"),
  (title: "STAGE-13"),
  (title: "STAGE-14"),
  (title: "STAGE-15"),
  (title: "STAGE-16"),
  (title: "STAGE-17"),
  (title: "STAGE-18"),
  (title: "STAGE-20")
]
