[
  (id: 1, title: "TUTORIAL-1", unlocked: true),
  (id: 2, title: "TUTORIAL-2", unlocked: true),
  (id: 3, title: "TUTORIAL-3", unlocked: true),
  (id: 4, title: "STAGE-1"),
  (id: 5, title: "STAGE-2"),
  (id: 6, title: "STAGE-3"),
  (id: 7, title: "STAGE-4"),
  (id: 8, title: "STAGE-5"),
  (id: 9, title: "STAGE-6"),
  (id: 10, title: "STAGE-7"),
  (id: 11, title: "STAGE-8"),
  (id: 12, title: "STAGE-9"),
  (id: 13, title: "STAGE-10"),
  (id: 14, title: "STAGE-11"),
  (id: 15, title: "STAGE-12"),
  (id: 16, title: "STAGE-13"),
  (id: 17, title: "STAGE-14"),
  (id: 18, title: "STAGE-15"),
  (id: 19, title: "STAGE-16"),
  (id: 20, title: "STAGE-17"),
  (id: 21, title: "STAGE-18"),
  (id: 22, title: "STAGE-19"),
  (id: 23, title: "STAGE-20")
]
