(
    map_size: (28, 18),
    stone_type: Type2,
    start_chunks: [
        ChunkTemplate(
            id: "start-1",
            map: [
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "............................",
                "................######......",
                "...................########.",
                "....................#####...",
                "............................",
                "................##.#........",
                ".......#........#.#####.....",
                "@......#........###..######.",
                "######.#.....####.#.....###G",
                "#......#........###........G",
                "#...####......#############G",
                "##.....##......####.E......G",
                "##.....O...S.......########G",
            ]
        )
    ],
    middle_chunks: [
        ChunkTemplate(id: "mid-none", map: ["IE"]),
    ],
    goal_chunks: [
        ChunkTemplate(id: "goal-noop", map: ["I"]),
    ]
)
