(
    map_size: (26, 10),
    stone_type: Type1,
    start_chunks: [
        ChunkTemplate(
            id: "start_flat",
            map: [
                "......",
                "@.....",
                "##....",
                ".....E",
                "#..##E",
                "##...#",
                "###...",
            ]
        )
    ],
    middle_chunks: [
        ChunkTemplate(
            id: "middle_stone",
            required_count: 1,
            map: [
                "I......E",
                "###.S.##",
            ]
        ),
        ChunkTemplate(
            id: "middle_0",
            map: [
                "IE",
                "##",
            ]
        ),
        ChunkTemplate(
            id: "middle_1",
            map: [
                "I..",
                "#.E",
                "###",
            ]
        ),
        ChunkTemplate(
            id: "middle_1",
            map: [
                "I...",
                "#..E",
                "##.#",
            ]
        ),
        ChunkTemplate(
            id: "middle_2",
            map: [
                "I E",
                "###",
            ]
        ),
        ChunkTemplate(
            id: "middle_3",
            map: [
                "......",
                "I.....E",
                "...##.E",
                "######",
            ]
        ),
        ChunkTemplate(
            id: "middle_4",
            map: [
                ".....E",
                "I....#",
                "#...#.",
                "..####",
            ]
        ),
        ChunkTemplate(
            id: "middle_5",
            map: [
                "......",
                ".....E",
                "I....#",
                "#..###",
            ]
        ),
        ChunkTemplate(
            id: "middle_6",
            map: [
                "I.....",
                "#....E",
                "##...E",
                "######",
            ]
        ),
        ChunkTemplate(
            id: "middle_7",
            map: [
                "I....",
                "....E",
                "#...E",
                "#####",
            ]
        ),
        ChunkTemplate(
            id: "middle_8",
            map: [
                "I.....",
                "#....E",
                "#....E",
                "...###",
            ]
        )
    ],
    goal_chunks: [
        ChunkTemplate(
            id: "goal-1",
            map: [
                "......",
                "......",
                "......",
                "......",
                "......",
                "......",
                "I.###G",
                "####.G",
                ".###.G",
                ".#...G",
            ]
        ),
        ChunkTemplate(
            id: "goal-2",
            map: [
                "......",
                "......",
                "......",
                "......",
                "......",
                "I.....",
                "##..#G",
                "#####G",
                ".##..G",
                ".#...G",
            ]
        )
    ]
)
