(
    map_size: (28, 18),
    stone_type: Type1,
    start_chunks: [
        ChunkTemplate(
            id: "start-1",
            map: [
                "......",
                "......",
                "......",
                "@....E",
                "######",
                "#.....",
                "#...S.",
                "##....",
                "###...",
                "......",
                "......",
                "......",
                "......",
                "......",
                "......",
                "......",
                "......",
                "......",
            ]
        )
    ],
    middle_chunks: [
        ChunkTemplate(
            id: "middle-1",
            map: [
                "I......E",
                "......##",
            ]
        ),
        ChunkTemplate(
            id: "middle-2",
            map: [
                "I....E",
                ".....",
            ]
        ),
        ChunkTemplate(
            id: "middle-3",
            map: [
                "......",
                "I....E",
                "#....",
            ]
        ),
    ],
    goal_chunks: [
        ChunkTemplate(
            id: "goal-1",
            map: [
                "......",
                "......",
                "......",
                "I.....",
                "...##G",
                ".####G",
                "#####G",
                "....#G",
                "...##G",
                "#####G",
                ".####G",
                "...##G",
                "...##G",
                "...##G",
                "...##G",
                "...##G",
                "...##G",
                "....#G",
            ]
        ),
        ChunkTemplate(
            id: "goal-2",
            map: [
                "......",
                "......",
                "......",
                "......",
                "......",
                "I.....",
                "##..#G",
                "#####G",
                ".####G",
                "....#G",
                "..###G",
                "....#G",
                "..###G",
                "#####G",
            ]
        )
    ]
)
