(
    map_size: (28, 18),
    stone_type: Type3,
    start_chunks: [
        ChunkTemplate(
            id: "start-1",
            map: [
                ".......#.#..................",
                ".......##...................",
                "@......#....................",
                "##.....O....................",
                "##########..................",
                "############................",
                ".......#####.S.#######......",
                ".........###.#.###.#########",
                "...........#.#.##...########",
                "....#......#.#..#.........##",
                "...##......#....#######.....",
                "...........#................",
                "..........##................",
                "###########......####...###G",
                "#......#..#.........#####..G",
                "#...####..#...........#####G",
                "##.....##.#.........E......G",
                "##S........OO......########G",
            ]
        )
    ],
    middle_chunks: [
        ChunkTemplate(id: "mid-none", map: ["IE"]),
    ],
    goal_chunks: [
        ChunkTemplate(id: "goal-noop", map: ["I"]),
    ]
)
