(
    map_size: (28, 18),
    stone_type: Type3,
    start_chunks: [
        ChunkTemplate(
            id: "start",
            map: [
                "...##########..",
                "...########....",
                "...#######.....",
                "@..##S######..E",
                "##.#.#.........",
                ".....####.....O",
            ]
        )
    ],
    middle_chunks: [
        ChunkTemplate(
            id: "bridge",
            map: [
                "..............", // height match
                "..............",
                "..............",
                "I....E........",
                "..............",
                "..............",
            ]
        ),
        ChunkTemplate(
            id: "bridge-2",
            map: [
                "IE",
            ]
        )
    ],
    goal_chunks: [
        ChunkTemplate(
            id: "goal",
            map: [
                "..........",
                "..........",
                "..........",
                "I.........",
                "......###G",
                "....##.##G",
            ]
        )
    ]
)
