(
    StartChunks(
        templates: [
            ChunkTemplate(
                id: "start_flat",
                map: [
                    "..E...",
                    "......",
                    ".@##.E",
                    "######",
                ]
            )
        ]
    ),
    MiddleChunks(
        templates: [
        ]
    ),
    GoalChunks(
        templates: [
            ChunkTemplate(
                id: "goal_flat",
                map: [
                    "......",
                    "......",
                    "I.##.G",
                    "######",
                ]
            )
        ]
    ),
)
