(
    StartChunks(
        templates: [
            ChunkTemplate(
                id: "start_flat",
                map: [
                    ".....E",
                    "......",
                    "I@##.E",
                    ".#####",
                ]
            )
        ]
    ),
    MiddleChunks(
        templates: [
            ChunkTemplate(
                id: "middle_flat_1",
                map: [
                    "...EE.",
                    "......",
                    "I.##.E",
                    "######",
                ]
            ),
            ChunkTemplate(
                id: "middle_flat_2",
                map: [
                    "......",
                    ".....E",
                    "I....E",
                    "######",
                ]
            )
        ]
    ),
    GoalChunks(
        templates: [
            ChunkTemplate(
                id: "goal_flat",
                map: [
                    "......",
                    "......",
                    "I.##.G",
                    "######",
                ]
            ),
            ChunkTemplate(
                id: "goal_flat2",
                map: [
                    "......",
                    "I.....",
                    "###..G",
                    "..####",
                ]
            )
        ]
    ),
)
